<div>
    <h1> Welcome to your Skiller homepage, <%= @user.username %>! </h1>
    
    <%= render @user.courses %>
     
    <div style='width: 300px'>
    <img style='width: 200px' src="https://image.flaticon.com/icons/png/512/862/862528.png">
       <br><br>
       <h3>Start learning new skills NOW!🔥 </h3>
       <br>
          <%= button_to "Add Skills", 'skills#new' %> 
          <br>
          <%= button_to "Add Courses", 'courses#new' %>
    </div>
</div>

<p id="notice"><%= notice %></p>
<p><strong>First name: </strong><%= @user.first_name %></p>
<p><strong>Last name: </strong><%= @user.last_name %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Password: </strong><%= @user.password %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>