<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@course) do |f| %>
    <%= f.label :course_name %>
    <%= f.text_field :course_name %><br>
    <%= f.label :course_description %>
    <%= f.text_field :course_description%><br>
    <%= f.label :institution %>
    <%= f.text_field :institution %><br>
    <%= f.label :teacher %>
    <%= f.text_field :teacher %><br>
    <%= f.label :importance %>
    <%= f.select :importance, [ '1=Urgent','2=High', '3=Medium', '4=Low' ], :prompt => 'Select One' %><br>
    <%= f.label :progress %>
    <%= f.select :progress, [ 'Completed','In Progress', 'Not Started' ], :prompt => 'Select One' %><br>
    <%= f.label :course_url %>
    <%= f.text_field :course_url %><br>
    <%= f.label :user %>
    <%= f.text_field :user, value: current_user.username, readonly: true %><br>
    <%= f.label :skill %>
    <%= f.collection_select :skill_id, Skill.all.order_by_name, :id, :skill_name %><br>
    <br>
    <p>Or Create a new Skill for this course first: </p>
    <div>
        <%= link_to "Add a new Skill", skills_new_path %>
    </div>
    <br>
    <%= f.submit "Submit" %>
<% end %>
<% end %>