<!DOCTYPE html>
<html>
  <head>
    <title>RailsSkiller</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
  <% if current_user %>
    <h3>
     <%= link_to  "My Courses", courses_path %> |
     <%= link_to  "My Skills", skills_path %> |
     <%= link_to "Log Out", 'sessions#destroy' %>
    </h3>
  <% else %>
    <h3>
    <%= link_to "Log In", login_path %> |
    <%= link_to "Sign Up", signup_path %> |
    <%= link_to "Sign in with Github", '/auth/github/callback' %> 
    </h3>
  <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
