<!DOCTYPE html>
<html>
  <head>
    <title>RailsSkiller</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div style='width: 800px'>
  <% if current_user %>
    <h3>
    <img style='width: 30px' src="/assets/logos/robot_icon.png" /> |
     <%= link_to "Home", '/users/:id' %> |
     <%= link_to  "My Courses", courses_path %> |
     <%= link_to  "My Skills", skills_path %> |
     <%= link_to "Log Out", logout_path %>
    </h3>
  <% else %>
    <h3>
    <img style='width: 30px' src="/assets/logos/robot_icon.png" /> |
    <%= link_to "Home", root_path %> |
    <%= link_to "Sign Up", signup_path %> |
    <%= link_to "Log In", login_path %> |
    <%= link_to "Log in with Github", auth_github_callback_path %> 
    </h3>
  <% end %>
  </div>

  <body>

    <%= yield %>

  </body>

  <br>
  <br>
  <br>
    <footer class="branding">
      <small>&copy; 2021 <strong>Skiller, Inc.</strong> All rights reserved.</small>
    </footer>
</html>
